    :root {
        --c-bg: #fff;
        --c-text: #000;
        --c-red: #fe0015;
    }

    body {
        background-color: var(--c-bg);
        color: var(--c-text);
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        font-family: Suisse Intl, ten-mincho-antique, sans-serif;
        /*Hide scrollbar for IE, Edge and Firefox*/
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
    display: none;
    }

    /* Lenis styles */
    html.lenis, html.lenis body {
    height: auto;
    }

    .lenis.lenis-smooth {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
        overflow: hidden;
    }

    .lenis.lenis-scrolling iframe {
        pointer-events: none;
    }

    /* NAV */
    #navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: auto;
        display: flex;
        justify-content: center;
        padding: 0rem;
        z-index: 1000;
    }

    #navbar ul {
        display: flex;
        gap: 0.5rem;
        list-style: none;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
        padding: 0 1rem 0 1rem;
        text-align: center;
    }

    #navbar a { 
        text-decoration: none; 
        color: inherit; 
    }

    #navbar a:hover {
        color: var(--c-red);
    }

    /* ABOUT */
    #about {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    #hero-group {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform-origin: center center; 
        will-change: transform;
    }

    #title {
        font-size: clamp(5rem, 20vw, 15rem);
        margin: 0;
        font-weight: 900;
        line-height: 0.7;
        text-transform: uppercase;
        letter-spacing: -0.06em;
    }

    #name {
        position: absolute;
        top: -3.5rem;
        right: 0%; 
        font-size: clamp(1.5rem, 4vw, 3.5rem);
        white-space: nowrap;
        margin: 0;
        transition: none !important;
        transform-origin: center center;
    }

    #quote {
        position: absolute;
        bottom: -3.5rem;
        left: 1%;
        max-width: 280px;
        font-size: 1rem;
        font-style: italic;
        margin: 0;
        text-align: center;
        transition: none !important;
        transform-origin: center center;
    }

    #introduction {
        position: absolute;
        bottom: 10%;
        max-width: 600px;
        text-align: center;
        padding: 0 2rem;
        opacity: 0;
        transform: translateY(30px);
        line-height: 1.6;
    }

    /* PROJECTS */
    #projects {
        height: 100vh;
        background: #fff;
    }

    #image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #image-container img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    figure {
        display: flex;
        flex-direction: row-reverse; 
        align-items: flex-start;       
        margin: 0;
        gap: 0px;
        transition: transform 0.5s ease; /*ease out*/                   
    }

    figcaption {
        writing-mode: vertical-rl; 
        transform: rotate(180deg);
        white-space: nowrap;
        gap: 0;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
    }

    figure:hover {
        transform: scale(1.05);
        transition: transform 0.5s ease; /*ease in*/
    }

    /* PROJECT OVERLAY */
    #project-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--c-bg);
        z-index: 2000;
        display: none;
        opacity: 0;
        /* overlay handles own scrolling */
        overflow-y: auto !important; 
        -webkit-overflow-scrolling: touch;
    }

    #overlay-content {
        display: block;
        width: 100%;
    }

    .full-project-img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        display: block;
    }

    #close-overlay {
        position: fixed;
        top: 2rem;
        right: 3rem;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 2100;
        /* blend exit button w images */
        mix-blend-mode: difference;
        color: white;
    }

    /* CONTACT */